body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
  background-color: #565656;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-btn {
  height: 50px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px;
  font-size: 18px;
  font-family: Palatino, URW Palladio L, serif;
  background-color: #b2a482;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #e9ddd7 0%, #949494 100%);
  box-shadow: 0 20px 30px -6px rgba(95, 96, 95, 0.5);
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  line-height: 1;
}

.submit-btn {
  height: 50px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px;
  font-size: 18px;
  font-family: Palatino, URW Palladio L, serif;
  background-color: #f4c15c;
  border-radius: 50px;
}

.btn {
  height: 40px;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px;
  font-size: 18px;
  font-family: Palatino, URW Palladio L, serif;
  background-color: #abaaa8;
  border-radius: 50px;
}

.main-btn:hover {
  box-shadow: none;
}

.main-btn:active {
  opacity: 0.5;
}

#btns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;
}

p {
  font-size: 18px;
  font-family: Palatino, URW Palladio L, serif;
  color: white;
  font-weight: 800;
}

.title {
  text-transform: uppercase;
  font-size: 25;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  width: 100%;
}

@media (max-width: 1000px) {
  #btns {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .question-wrapper {
    width: 75%;
  }

  #btns {
    margin-left: 10%;
    margin-right: 10%;
    width: 70%;
  }
  .card {
    margin: 50px 0;
  }

  .question-wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }

  .title {
    text-align: start;
    font-size: 18px;
  }

  .meta {
    margin-top: 6px;
  }

  .header {
    flex-direction: column;
    align-items: start;
  }
  .main-btn{
    font-size: 16px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
