body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #565656;
}

.App {
  text-align: center;
  background-color: #565656;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.select:hover {
  border-color: white !important; 
}

.select:focus-within {
  border-color: #f4c15c !important;
  box-shadow: 0 0 0 1px rgba(203, 217, 0, 0.2) !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-btn {
  border-radius: 5px;
  font-family: Palatino, URW Palladio L, serif;
  background-color: #b2a482;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #ffffffaf 0%, #e9c1401d 100%);
  box-shadow: 0 20px 30px -6px rgba(95, 96, 95, 0.5);
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 60%;
  max-width: 190px;
  line-height: 1;
  padding: 5px 15px;
  margin-bottom: 15px;
  appearance: none;
  -webkit-appearance: none;

  color: #282828;                 /* whatever you want */
  -webkit-text-fill-color: #000000;  
}

.submit-btn {
  height: 50px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px;
  font-size: 18px;
  font-family: Palatino, URW Palladio L, serif;
  background-color: #f4c15c;
  border-radius: 50px;
}

.btn {
  height: 30px;
  border-radius: 10px;
  font-size: 18px;
  font-family: Palatino, URW Palladio L, serif;
  background-color: #abaaa8;
  border-radius: 50px;
  width: 20%;
}

.main-btn:hover {
  box-shadow: none;
}

.main-btn:active {
  opacity: 0.5;
}

/* Style 9
   ----------------------------- */
.nine h1 {
  text-align:center; font-size:40px; text-transform:uppercase; color:#ffffff; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:400;
  margin: 0;
  width: 100%;
  max-width: 400px;
}
.nine h1 span {
  margin-top: 5px;
    font-size:15px; color:#d6d5d5; word-spacing:1px; font-weight:normal; letter-spacing:2px;
    text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 5px 0;
    grid-gap: 20px;
    align-items: center;
}

.nine h1 span:after,.nine h1 span:before {
    content: " ";
    display: block;
    height: 1px;
  background-color:#f8f8f8;
}

#btns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;
}

p {
  font-size: 18px;
  font-family: Palatino, URW Palladio L, serif;
  color: white;
  font-weight: 800;
}

.title {
  text-transform: uppercase;
  font-size: 25;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin-left: 10%;
    margin-right: 10%;
}

@media (max-width: 1000px) {
  #btns {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .card {
    margin: 50px 0;
  }

  .title {
    text-align: start;
    font-size: 18px;
  }

  .meta {
    margin-top: 6px;
  }

  .header {
    flex-direction: column;
    align-items: start;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
